<footer class="footer">
    <h4>Acerca del proyecto</h4>
    <p>
        Programación Web 2<br>
        Alumno: Barrera Copca Diego Esteban<br>
        Profesor: Aaron Velasco Agustín<br>
        Proyecto Final: CRUD con Node, Express, EJS y MySQL.
    </p>
</footer>
